body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

p.nieco {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}

p.info {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
