.login-input {
    float: right;
    width: 200px;
}

.register-button {
    margin: auto;
    display: block;
}

.login-form {
    width: 330px;
}

.login-button-left {
  margin-left: 17%;
}
.login-button-right {
  margin-right: 17%;
  float: right;
}

.anchor-no-decor, .anchor-no-decor:hover {
    text-decoration: none;
    color: black;
}

.ability-image {
    text-align: center;
}

.ability-spook {
    width: 100px;
    display: inline-block;
    height: 52px;
}

.ability-spook > img {
    max-width: 100px;
    max-height: 50px;
    margin: auto;
}

.ability-container {
    width: 100%;
    height: auto;
}

.inline-block-content {
    width: 170px;
    float: none;
    display:inline-block;
    vertical-align: top;
}

.inline-block-content-house {
    width: 150px;
    float: none;
    display:inline-block;
    vertical-align: top;
}
.inline-block-content-spook {
    width: 170px;
    float: none;
    display:inline-block;
    vertical-align: top;
}

.ability-container > img {
    display: block;
    margin: auto;
}

.manage-buttons-container {
    margin-bottom: 15px;
}

.button-100 {
    width: 100px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.ability-img-block {
    width:200px;
}

.ability-img-block > p, .ability-img-block > img, .ability-img-block > input {
    margin: auto;
    display: block;
}

.ability-img-block > img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.ability-edit-block {
    width: 500px
}

.ability-edit-block > p, .ability-edit-block > span, .ability-edit-block > textarea {
    margin-left: 15px;
}

.house-edit-block {
    width: 500px
}

.house-edit-block p{
    font-weight: bold;
}

.ability-edit-block > textarea {
    margin-right: 15px;
    width: 95%;
    height: 100px;
}

.house-img-block {
    width:200px;
}
.house-img-block > img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 5px;
}

.img-ability {
    max-height: 56px;
    max-width: 56px;
}

.img-house {
    max-height: 150px;
    max-width: 150px;
}

.input_error {
    padding-left: 15px;
    color: red;
}

footer p {
    text-align: center;
}

