.login-input {
    float: right;
    width: 200px;
}

.register-button {
    margin: auto;
    display: block;
}

.login-form {
    width: 330px;
}

.login-button-left {
  margin-left: 18%;
}
.login-button-right {
  margin-right: 18%;
  float: right;
}

.anchor-no-decor, .anchor-no-decor:hover {
    text-decoration: none;
    color: black;
}

.ability-image {
    text-align: center;
}

.ability-spook {
    width: 100px;
    display: inline-block;
    height: 52px;
}

.ability-spook > img {
    max-width: 100px;
    max-height: 50px;
    margin: auto;
}

.ability-container {
    width: 100%;
    height: auto;
}

.inline-block-content {
    width: 170px;
    float: none;
    display:inline-block;
    vertical-align: top;
}

.inline-block-content-house {
    width: 250px;
    float: none;
    display:inline-block;
    vertical-align: top;
}

.ability-container > img {
    display: block;
    margin: auto;
}

.manage-buttons-container {
    margin-bottom: 15px;
}

.button-100 {
    width: 100px;
}

.input_error {
    padding-left: 15px;
    color: red;
}

footer p {
    text-align: center;
}

